﻿html,
body {
    height: 100%;
    margin: 0;
    /*overflow: hidden;*/
    position: relative;
}

* {
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif !important;
    font-size: 1em;
}

h1 {
    color: #636363;
    font-weight: 600;
    font-variant: small-caps;
}

h3 {
    color: #636363;
    font-variant: small-caps;
    font-weight: 600;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 1em;
}

.header {
    width: 100%;
    color: white;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    position: relative;
    background: rgb(0,104,162);
}

    .header .userLabel {
        display: inline;
        font-size: 0.7em;
        position: absolute;
        top: 0;
        right: 15em;
    }

        .header .userLabel > span {
            font-size: 0.7em;
            margin-left: 0.7em;
            cursor: pointer;
        }

.footer {
    height: 2em;
    width: 100%;
    background-color: rgb(0,104,162);
}

.header > span {
    font-size: 7px;
    position: absolute;
    top: 1em;
    right: 1%;
}

.menu {
    text-align: center;
    font-size: 1em;
    background-color: #113C5A;
    color: white;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

.bmenu {
    border: 1px solid #d9d9d9;
    /*display: inline-block;*/
    /*width: 230px;
    height: 100px;*/
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.9em;
    margin: 0.5em;
    background-color: white;
}

    .bmenu:hover {
        background-color: #e6f7ff;
    }

    .bmenu > table {
        width: 100%;
        border-collapse: collapse;
    }

        .bmenu > table th {
            background-color: #d9d9d9;
            padding: 5px 20px;
            text-align: left;
            font-weight: normal;
        }

        .bmenu > table td {
            padding: 5px 10px;
            text-align: justify;
        }

        .bmenu > table img {
            width: 40px;
        }

input[type=text], input[type=password], select, textarea, input[type^=date], input[type=number] {
    width: 100%;
    border-left: 0px solid rgb(0,104,162);
    border-bottom: 2px solid rgb(0,104,162);
    border-right: 0px solid rgb(0,104,162);
    border-top: 0px solid rgb(0,104,162);
    padding: 3px 5px;
    font-size: 0.9em;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

    input[type=text]:focus, input[type=password]:focus, select:focus, button:focus, input[type=submit]:focus, textarea:focus, input[type^=date]:focus,
    input[type=number]:focus {
        outline: none;
        border-color: #41b883;
    }

.mini_input input, .mini_input select {
    border-left: 1px solid rgb(0,104,162);
    border-bottom: 1px solid rgb(0,104,162);
    border-right: 1px solid rgb(0,104,162);
    border-top: 0px solid rgb(0,104,162);
    padding: 0px;
    border-radius: 0px;
}

.button, button, input[type=submit] {
    border: 0px solid black;
    color: white;
    background: rgb(0,102,160);
    padding: 3px 15px;
    display: inline;
    cursor: pointer;
}

.button_Notificacion {
    border: 0px solid black;
    color: white;
    background: rgb(0,102,160);
    padding: 0px 15px;
    display: inline;
    cursor: pointer;
}

.button:hover, button:hover, input[type=submit]:hover, .button:focus, button:focus {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    outline: none;
}

.longButtton {
    border: 1px solid gray;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    margin: 10px;
    background-color: white;
    font-size: 0.8em;
}

    .longButtton:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.noBox {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*************************************************************************** CONTACS **************************************************/
.contactsTable {
    width: 100%;
    table-layout: fixed;
}

.contactDiv {
    border: 1px solid #e6e6e6;
    border-top: 0px solid #e6e6e6;
    border-left: 0px solid #e6e6e6;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 0em;
    height: 2.5em;
    cursor: pointer;
}

.notReadedB {
    background-color: rgb(0,104,162);
}

.notReadedC {
    color: rgb(0,104,162);
}

.contactDiv:hover {
    background-color: #f2f2f2;
}

.nameDiv {
    white-space: nowrap;
    font-size: 0.8em;
    width: 74%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-weight: bold;
    color: #4d4d4d;
}

.dateDiv {
    white-space: nowrap;
    width: 24%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 0.6em;
    text-align: right;
}

.messageDiv {
    white-space: nowrap;
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    font-size: 0.7em;
    color: #808080;
}

    .messageDiv > span {
        color: rgb(0,104,162);
        border: 1px solid rgb(0,104,162);
        border-radius: 2px;
        display: inline-block;
        padding: 0px 0.5em;
    }

.notiDiv {
    width: 9%;
    display: inline-block;
    text-align: right;
}

.selected {
    background-color: rgb(205,230,247) !important;
    /* background-color:#c6ebdb !important; */
}

    .selected:hover {
        background-color: rgb(205,230,247) !important;
        /* background-color:#c6ebdb !important; */
    }

.emailContact {
    display: inline-block;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    padding: 0.2em;
    margin-right: 0.2em;
}

    .emailContact > span {
        cursor: pointer;
        color: #999999;
    }

        .emailContact > span:hover {
            color: red;
        }

    .emailContact > img {
        vertical-align: bottom;
        width: 1.2em;
        height: auto;
    }

.inbox {
    font-size: 0.7em;
    padding: 0.5em 0.5em;
    border-bottom: 1px solid rgb(234,237,234);
    cursor: pointer;
}

    .inbox > img {
        height: 1em;
        width: auto;
        margin-right: 0.5em;
    }

    .inbox:hover {
        background-color: #e6eeff;
    }

.inboxSelected {
    border-bottom: 1px solid rgb(0,104,162);
    background-color: rgb(205,230,247) !important;
}

.imgButton01 {
    text-align: center;
    background-color: white;
    padding: 0.5em;
    font-size: 0.8em;
    cursor: pointer;
    min-width: 10em;
    display: inline-block;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

    .imgButton01:hover {
        background-color: #e6eeff;
    }

    .imgButton01 > img {
        vertical-align: bottom;
        height: 1.2em;
        width: auto;
    }

    .imgButton01 > span {
        /*vertical-align: super;*/
        margin-left: 0.3em;
    }

.emailDataTable {
    width: 100%;
    background-color: rgb(234,237,234);
}

    .emailDataTable td {
        font-size: 0.8em;
    }

    .emailDataTable tr td:first-child {
        width: 12em;
        padding-left: 6em;
    }

.shadowRigth {
    -webkit-box-shadow: -5px 10px 22px 0px rgba(187,187,187,1);
    -moz-box-shadow: -5px 10px 22px 0px rgba(187,187,187,1);
    box-shadow: -5px 10px 22px 0px rgba(187,187,187,1);
}

.relatedTable {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

    .relatedTable td {
        font-size: 0.8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 1em;
    }

.hoverRow:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

/*************************************************************************** MESSAGES **********************************************/
.contentDiv {
    background-color: white;
}

.in {
    text-align: left;
    padding: 5px 10px 0px 5px;
    font-size: 0.8em;
}

    .in > div {
        max-width: 90%;
        background-color: White;
        border: 1px solid #0099ff;
        border-left: 5px solid #0099ff;
        padding: 5px 20px 0px 20px;
        border-radius: 3px;
        display: inline-block;
        text-align: left;
        color: Black;
    }

.out {
    text-align: right;
    padding: 5px 10px 0px 10px;
    font-size: 0.8em;
}

    .out > div {
        max-width: 90%;
        background-color: White;
        border: 1px solid #33cc33;
        border-right: 5px solid #33cc33;
        padding: 5px 20px 0px 20px;
        border-radius: 3px;
        display: inline-block;
        text-align: left;
        color: Black;
    }

        .out > div > span, .in > div > span, .inBig > div > span {
            display: block;
            font-size: 10px;
            text-align: right;
            color: Gray;
        }

            .out > div > span > img, .in > div > span > img {
                vertical-align: middle;
                width: 12px;
                height: auto;
                cursor: pointer;
                margin-right: 5px;
            }

.messageContent {
    border: 1px solid rgb(0,104,162);
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}

.inBig {
    text-align: left;
    padding: 0px 10px 0px 5px;
    font-size: 0.8em;
    cursor: pointer;
}

    .inBig > div:hover {
        background-color: #f2f2f2;
    }

    .inBig > div {
        background-color: White;
        border: 1px solid #999999;
        border-top: 0px solid #999999;
        border-left: 5px solid rgb(0,104,162);
        padding: 5px 20px 0px 20px;
        display: block;
        text-align: left;
        color: Black;
    }
/*************************************************************************** MESSAGES **********************************************/
.clientDiv {
    padding: 10px 20px;
    font-size: 0.8em;
}

.readTd {
    text-align: center;
    padding: 20px;
    cursor: pointer;
}

    .readTd > img {
        width: 40px;
        height: auto;
    }

    .readTd:hover {
        background-color: #f2f2f2;
    }

.pure-table td, .pure-table th {
    padding: .25em 0.5em;
}

.midTitle {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    color: #113C5A;
    border-top: 1px solid #113C5A;
    border-bottom: 1px solid #113C5A;
}

.smallTable {
    width: 100%;
}

    .smallTable th, .smallTable td {
        font-size: 0.8em;
        text-align: center;
    }
/***************************************************************************** DIALOG **********************************************/
.progressBackgroundFilter {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #fff;
    filter: alpha(opacity=20);
    -moz-opacity: 0.20;
    -khtml-opacity: 0.20;
    opacity: 0.20;
    z-index: 1000;
}

    .progressBackgroundFilter > div {
        text-align: center;
        position: relative;
        width: 100%;
        height: 100%;
        display: inline-block;
        vertical-align: middle;
        z-index: 1000;
    }

        .progressBackgroundFilter > div > img {
            width: 10%;
            display: inline-block;
            vertical-align: middle;
            padding-top: 20%;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
        }

.mdialogo {
    text-align: center;
    position: fixed;
    top: 5%;
    width: 100%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    z-index: 1002;
}

    .mdialogo > div {
        display: inline-block;
        vertical-align: middle;
        width: 500px;
        border: solid 0px #000;
        background: rgb(77,77,77);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

        .mdialogo > div > table {
            display: initial;
            width: 100%;
            border-collapse: collapse;
        }

        .mdialogo > div > div {
            background-color: White;
            overflow: auto;
            width: 100%;
            text-align: center;
        }

        .mdialogo > div img {
            height: 20px;
            width: 20px;
            cursor: pointer;
            padding: 0px;
        }
/***************************************************************************** DIALOG **********************************************/
.docTable {
    width: 100%;
    table-layout: fixed;
}

    .docTable td:nth-child(1) {
        width: 18px;
    }

    .docTable td:nth-child(2) {
        width: 20px;
        cursor: pointer;
    }

        .docTable td:nth-child(2) img {
            height: 16px;
            vertical-align: middle;
            margin-right: 0px 5px 0px 0px;
        }

    .docTable td:nth-child(3) {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.tableHeader {
    width: 100%;
    table-layout: fixed;
    margin: 0px 20px;
}

    .tableHeader th {
        color: rgb(0,104,162);
        width: 50px;
        font-weight: normal;
    }
/***************************************************************************** OPTIONS **********************************************/
.coption {
    cursor: pointer;
    display: inline-block;
    padding: 0.5em;
    width: 10em;
    line-height: 1.5em;
    height: 1.5em;
    border: 1px solid black;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 3px;
    margin: 0.5em;
}

.gv_alter {
    border-spacing: 3px 3px;
    border-collapse: separate;
    margin: 0px auto;
}

    .gv_alter tr:nth-child(even) {
        /*background: #FFF;*/
        text-align: center;
        color: #636363;
    }

    .gv_alter tr:nth-child(odd) td {
        font-weight: normal;
        text-align: center;
        font-variant: small-caps;
        color: rgb(28,91,162);
        border-bottom: 1px solid rgb(28,91,162);
        border-top: 1px solid rgb(28,91,162);
        font-weight: bold;
        background-color: rgb(234,237,234);
    }

.gv_normal tr {
    /*background: #FFF;*/
    text-align: center;
    color: #636363;
}

.gv_normal th {
    font-weight: normal;
    text-align: center;
    font-variant: small-caps;
    color: rgb(28,91,162);
    border-bottom: 1px solid rgb(28,91,162);
    border-top: 1px solid rgb(28,91,162);
    font-weight: bold;
    background-color: rgb(234,237,234);
}

.gv_normal {
    border-spacing: 3px 3px;
    border-collapse: separate;
    margin: 0px auto;
}

.tr_sel {
    cursor: pointer;
    background-color: lightgray;
}

    .tr_sel:hover {
        background-color: #f2f2f2;
    }

.tr_selected {
    background-color: #ffffb3 !important;
}

.tb_normal tr {
    background: #FFF;
    color: #636363;
}

.tb_normal th {
    font-weight: normal;
    text-align: center;
    background-color: rgb(77,77,77);
    font-variant: small-caps;
    color: White;
}

.tb_normal {
    margin: 0px auto;
    width: 100%;
}

.mini_button {
    color: black;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    font-size: 10px;
    padding: 2px 0px;
}

.mini_button_red {
    border: 1px solid red !important;
    color: red !important;
}

.mini_button_green {
    border: 1px solid green !important;
    color: green !important;
}

.mini_button_solid_red {
    background-color: #ff8080;
}

.mini_button_solid_yellow {
    background-color: #ffcc00;
}

.mini_button_solid_green {
    background-color: #81d081;
}

.notificacion {
    background: White;
}

    .notificacion > li {
        display: inline-block;
        background: white;
        margin: 2px;
        padding: 2px 2px 2px 10px;
        border-radius: 2px;
        cursor: default;
        border: 1px solid rgb(2,138,209);
    }

        .notificacion > li:hover {
            background: #f2f2f2;
        }

        .notificacion > li > table {
            display: inline-block;
            width: 200px;
        }

            .notificacion > li > table td {
                color: Gray;
            }

            .notificacion > li > table a:visited {
                color: blue;
            }

.progressBackgroundFilter2 {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #000;
    filter: alpha(opacity=60);
    -moz-opacity: 0.60;
    -khtml-opacity: 0.60;
    opacity: 0.60;
    z-index: 1000;
}

.bt_verde_Notificacion {
    background: #b6e2b6;
}

.bt_rojo_Notificacion {
    background: #f8a0a5;
}

.bt_naranja_Notificacion {
    background: #ffdd99;
}

.bt_verde_Notificacion, .bt_rojo_Notificacion, .bt_naranja_Notificacion {
    padding: 0px;
    color: Black;
    border: 0px solid black;
    cursor: pointer;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    text-decoration: none;
    font-size: 11px;
}

    .bt_rojo_Notificacion:hover, .bt_verde_Notificacion:hover, .bt_naranja_Notificacion:hover {
        background: #CCCCCC;
    }

.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo {
    0% {
        background: #ff0000;
    }

    50% {
        background: rgba(255,255,0,0.0);
    }

    100% {
        background: rgba(255,255,0,1.0);
    }
}

@-webkit-keyframes parpadeo {
    0% {
        background: #ff0000;
    }

    50% {
        background: rgba(255,255,0,0.0);
    }

    100% {
        background: rgba(255,255,0,1.0);
    }
}

@keyframes parpadeo {
    0% {
        background: #ff0000;
    }

    50% {
        background: rgba(255,255,0,0.0);
    }

    100% {
        background: rgba(255,255,0,1.0);
    }
}

#menu_Cascada * {
    margin: 0px;
    padding: 0px;
}

#menu_Cascada {
    margin: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

    #menu_Cascada ul, ol {
        list-style: none;
    }

    #menu_Cascada .nav > li {
        float: left;
    }

    #menu_Cascada .nav li a {
        text-decoration: none;
        padding: 10px 12px;
        display: block;
    }



    #menu_Cascada .nav li ul {
        display: none;
        position: absolute;
        min-width: 140px;
    }

    #menu_Cascada .nav li:hover > ul {
        display: block;
    }

    #menu_Cascada .nav li ul li {
        position: relative;
    }

        #menu_Cascada .nav li ul li ul {
            right: -140px;
            top: 0px;
        }
.mini_button_solid_red {
    background-color: #ff8080;
}

.mini_button_solid_green {
    background-color: #81d081;
}
.mdialogo2 {
    position: fixed;
    top: 5%;
    right: 0px;
    left: 0px;
    z-index: 1002;
}

    .mdialogo2 .mdialogoContent {
        background-color: white;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

        .mdialogo2 .mdialogoContent .mdialogoHead {
            background: rgb(77,77,77);
            height: 1.8em;
        }

            .mdialogo2 .mdialogoContent .mdialogoHead > img {
                height: 1.8em;
                width: 1.8em;
                cursor: pointer;
                padding: 0px;
                float: right;
            }