﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link href="./CSS_LiB/pure/grids-min.css" rel="stylesheet" />
    <link href="./CSS_LiB/pure/grids-responsive-min.css" rel="stylesheet" />
    <!--<script src="./JS_LIB/vue/vue.js" type="text/javascript"></script>-->
    <script src="./JS_LIB/vue/vue.min.js" type="text/javascript"></script>
    <script src="./JS_LIB/vue/axios.min.js" type="text/javascript"></script>
    <script src="./JS/vue/axios-http-helper.js" type="text/javascript"></script>
    <script src="./JS_LIB/es6-promise.auto.min.js"></script>
    <link href="./CSS/main.css?v=3" rel="stylesheet" />
</head>
<body>
    <div class="pure-g mainContent" style="display: none;background-attachment: fixed;" id="pDiv">

        <div class="pure-u-1-1 pure-u-md-1-1" id="mainDiv" style="background-color: white;min-height: calc(100vh - 5.5em)">
            <div class="pure-u-1-1 pure-u-md-1-1">
                <div class="header">
                    <h2 style="height:3.0em;position:absolute;margin-left: 1em;margin-top: 0.2em;">{{proceso == 3? "CONSULTAR TECNICO":"INSERTAR TECNICO"}}</h2>
                    <span class="pure-hidden-sm pure-hidden-xs">Copyright &#169; 2021. All Rights Reserved</span>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-1" v-show="proceso != 3">
            </div>
            <div v-show="proceso != 3">
                <div class="progressBackgroundFilter">
                </div>
                <div class="mdialogo2 pure-g">
                    <div class="pure-u-1-1 pure-u-md-1-24"></div>
                    <div class="pure-u-1-1 pure-u-md-11-12 mdialogoContent">
                        <div class="mdialogoHead">
                            <img src="../IMG/cerrar.png" v-on:click="proceso = 3" />
                        </div>
                        <div style="padding: 0em 2em;overflow: auto;max-height: calc(100vh - 4em);">

                            <table style="width: 100%; text-align:center;" class="gv_normal">
                                <tr>
                                    <td style="width:25%">
                                        <h2>Nombre</h2>
                                        <input type="text" v-model="parsUsuario.Nombre" placeholder="Nombre" style="text-align:center" maxlength="100">
                                    </td>
                                    <td style="width:25%">
                                        <h2>Codigo</h2>
                                        <input type="text" v-model="parsUsuario.Codigo" onkeypress="return ((event.charCode >= 48 && event.charCode <= 57) || (event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))" placeholder="Codigo" style="text-align:center" maxlength="50">
                                    </td>
                                    <td style="width:25%">
                                        <h2>Sueldo Base</h2>
                                        <input type="number" v-model="parsUsuario.Sueldo_Base" placeholder="Sueldo Base" style="text-align:center">
                                    </td>
                                    <td style="width:25%">
                                        <h2>Sucursal</h2>
                                        <select v-model="parsUsuario.Id_Sucursal">
                                            <option value="0">[Seleccione uno ... ]</option>
                                            <option v-for="item in sucursal" v-bind:value="item.Id_Sucursal">{{item.Nombre}}</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h2>Cantidad</h2>
                                        <input type="number" v-model="elemento.Cantidad" placeholder="Cantidad" style="text-align:center" min="1" max="10">
                                    </td>
                                    <td>
                                        <h2>Elementos</h2>
                                        <select v-model="elemento.Elemento">
                                            <option value="0">[Seleccione uno ... ]</option>
                                            <option v-for="item in Elementos" v-bind:value="item">{{item.Nombre}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <div class="button" v-on:click="InsElemento()" v-show="proceso != 3">Agregar</div>
                                    </td>
                                </tr>
                                <tr v-show="parsUsuario.Elementos.length >0">
                                    <td style="text-align:center;" colspan="4">
                                        <h2>Elementos Agregados</h2>
                                        <table style="width: 50%; text-align:center;" class="gv_normal">
                                            <tr>
                                                <td></td>
                                                <td><h3>Elemento</h3></td>
                                                <td><h3>Cantidad</h3></td>
                                            </tr>
                                            <tr v-for="item in parsUsuario.Elementos">
                                                <td>
                                                    <div class="mini_button" v-bind:class="'mini_button_solid_red'" v-on:click="DelElemento(item);">Eliminar</div>
                                                </td>
                                                <td>{{item.Nombre}}</td>
                                                <td>{{item.Cantidad}}</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:center;" colspan="4">
                                        <br />
                                        <div class="button" v-on:click="InsTecnico()" v-show="proceso != 3">{{proceso == 2?"Actualizar":"Insertar"}}</div>
                                    </td>
                                </tr>
                            </table>


                        </div>
                        <br />
                    </div>
                    <div class="pure-u-1-1 pure-u-md-1-24"></div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-9-12" v-show="proceso == 3">
                <br /><br />
                      <div class="pure-u-1-1 pure-u-md-1-1">
                          <div class="button" v-on:click="proceso = 1" v-show="proceso == 3">Insertar</div><br /><br />
                          <input type="text" v-model="filtro" placeholder="Filtrar Usuario" style="text-align:center;width:20%" v-on:keyup="Get_Usuarios()">
                      </div>

                <table style="width: 100%; text-align:center;" class="gv_normal">
                    <tr>

                        <th style="width:19%">Nombre</th>
                        <th style="width:19%">Codigo</th>
                        <th style="width:19%">Sueldo Base</th>
                        <th style="width:19%">Sucursal</th>
                        <th style="width:19%">Cantidad Elementos</th>
                        <th style="width:auto"></th>
                        <!--<th style="width:auto"></th>-->
                    </tr>

                    <tr v-for="Usuario in Usuarios">
                        <td>{{Usuario.Nombre}}</td>
                        <td>{{Usuario.Codigo}}</td>
                        <td>{{Usuario.Sueldo_Base}}</td>
                        <td>{{Usuario.Sucursal}}</td>
                        <td>{{Usuario.Cantidad_Elementos}}</td>
                        <td>
                            <div class="mini_button" v-bind:class="'mini_button_solid_green'" v-on:click="UpdUsuario(Usuario)">Actualizar</div>
                        </td>
                        <!--<td>
        <div class="mini_button" v-bind:class="'mini_button_solid_red'" v-on:click="DelUsuario(Usuario.Id_Tecnico);">Eliminar</div>
    </td>-->
                    </tr>


                </table>
            </div>
            <div id="mainContentDiv" style="min-height: calc(90vh - 5.5em) ">

                
                

            </div>
            
        </div>
    </div>
    <div id="divMessage" style="display: none;">
        <div class="progressBackgroundFilter" style="z-index: 1008">
        </div>
        <div class="mdialogo2 pure-g" style="z-index: 1009">
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
            <div class="pure-u-1-1 pure-u-md-1-3 mdialogoContent">
                <div class="mdialogoHead">
                    <img src="../IMG/cerrar.png" onclick="hideMessage()" />
                </div>
                <div style="padding: 0em 2em; text-align:center">
                    <br /><label id="lbMessage">text</label><br /><br />
                    <div style="text-align: center;">
                        <button id="btAccept" onclick="hideMessage()">Aceptar</button><br /><br />
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
        </div>
    </div>
    <div id="divProcess" class="progressBackgroundFilter" style="display: none;"><div><img src="./IMG/loading.gif" /></div></div>
    <script src="index.js?v=8"></script>
</body>
</html>