﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prueba</title>
    <link href="./CSS_LiB/pure/grids-min.css" rel="stylesheet" />
    <link href="./CSS_LiB/pure/grids-responsive-min.css" rel="stylesheet" />
    <!--<script src="./JS_LIB/vue/vue.js" type="text/javascript"></script>-->
    <script src="./JS_LIB/vue/vue.min.js" type="text/javascript"></script>
    <script src="./JS_LIB/vue/axios.min.js" type="text/javascript"></script>
    <script src="./JS/vue/axios-http-helper.js" type="text/javascript"></script>
    <script src="./JS_LIB/es6-promise.auto.min.js"></script>
    <link href="./CSS/main.css?v=3" rel="stylesheet" />
</head>
<body>
    <div class="pure-g mainContent" style="display: none;background-attachment: fixed;" id="pDiv">

        <div class="pure-u-1-1 pure-u-md-1-1" id="mainDiv" style="background-color: white;min-height: calc(100vh - 5.5em)">
            <div class="pure-u-1-1 pure-u-md-1-1">
                <div class="header">
                    <h2 style="height:3.0em;position:absolute;margin-left: 1em;margin-top: 0.2em;">{{"Ruletas"}}</h2>
                    <span class="pure-hidden-sm pure-hidden-xs">Copyright &#169; 2021. All Rights Reserved</span>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-9-12" v-show="proceso == 1">
                <br /><br />
                <div class="pure-u-1-1 pure-u-md-1-1">
                    <div class="button" v-on:click="Ins_Ruleta">Crear Ruleta</div><br /><br />
                </div>

                <table style="width: 100%; text-align:center;" class="gv_normal">
                    <tr>

                        <th style="width:20%">Id ruleta</th>
                        <th style="width:20%">Fecha Creacion</th>
                        <th style="width:auto"></th>
                        <th style="width:auto"></th>
                    </tr>

                    <tr v-for="item in listado">
                        <td>{{item.Id_Ruleta}}</td>
                        <td>{{item.Fecha}}</td>
                        <td>

                            <div class="mini_button" v-bind:class="[item.Estado=='False'?'mini_button_solid_red':'mini_button_solid_green']" v-on:click="Upd_Ruleta(item);">{{item.Estado=='False'?'Cerrada':'Abrierta'}}</div>
                        </td>
                        <td>
                            <div class="mini_button" v-bind:class="'mini_button_solid_yellow'" v-on:click="Ini_Apuestas(item);">Apuestas</div>
                        </td>
                    </tr>


                </table>
            </div>
            <div class="pure-u-1-1 pure-u-md-9-12" v-show="proceso == 2">
                <br /><br />
                <div class="pure-u-1-1 pure-u-md-1-1">
                    <h2>Apuestas Ruleta No.{{ruletaabierta}}</h2>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                    <h1>Jugador</h1>
                    <input type="text" v-model="apuesta.Nombre" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                    <h1>Apuesta</h1>
                    <select v-model="apuesta.Apuesta">
                        <option value="0">[Seleleccione uno]</option>
                        <option v-for="item in apuestas" v-bind:value="item.Id_Apuesta">{{item.Apuesta}}</option>
                    </select>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                    <h1>Valor Apuesta</h1>
                    <input type="number" v-model="apuesta.ValorApuesta" min="0" max="10000" />
                </div>
                <div class="pure-u-1-1 pure-u-md-1-6">
                    <br />
                    <div class="button" v-on:click="Ins_Apuestas_Usuario">Guardar</div>
                </div>
                <div class="pure-u-1-1 pure-u-md-1-8">
                    <div class="button" v-on:click="proceso = 1;">Regresar</div>
                </div>
                <br />
                <br />
                <div class="pure-u-1-1 pure-u-md-1-1" v-show="apuestas_usuarios.length > 0">
                    <div class="button" v-on:click="Cerrar_Apuestas()">Cerrar Apuestas</div><br /><br />
                </div>
                <table style="width: 100%; text-align:center;" class="gv_normal" v-show="apuestas_usuarios.length > 0">
                    <tr>

                        <th style="width:20%">Nombre</th>
                        <th style="width:20%">Apuesta</th>
                        <th style="width:20%">Valor Apuesta</th>
                    </tr>

                    <tr v-for="item in apuestas_usuarios">
                        <td>{{item.Nombre}}</td>
                        <td>{{item.apuesta_nombre}}</td>
                        <td>{{item.ValorApuesta}}</td>
                    </tr>


                </table>


            </div>
            </div>
        </div>
    <div id="divMessage" style="display: none;">
        <div class="progressBackgroundFilter" style="z-index: 1008">
        </div>
        <div class="mdialogo2 pure-g" style="z-index: 1009">
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
            <div class="pure-u-1-1 pure-u-md-1-3 mdialogoContent">
                <div class="mdialogoHead">
                    <img src="../IMG/cerrar.png" onclick="hideMessage()" />
                </div>
                <div style="padding: 0em 2em; text-align:center">
                    <br /><label id="lbMessage">text</label><br /><br />
                    <div style="text-align: center;">
                        <button id="btAccept" onclick="hideMessage()">Aceptar</button><br /><br />
                    </div>
                </div>
            </div>
            <div class="pure-u-1-1 pure-u-md-1-3"></div>
        </div>
    </div>
    <div id="divProcess" class="progressBackgroundFilter" style="display: none;"><div><img src="./IMG/loading.gif" /></div></div>
    <script src="Ruleta.js?v=1"></script>
</body>
</html>